.mainButton {
  font-family: $font;
  font-weight: bold;
  font-size: 18px;
  color: #2e2e2e;
  padding: 21px 64px;
  border-radius: 10px;
  background-color: $accentColor;
}
.secondaryButton {
  font-family: $font;
  font-weight: bold;
  font-size: 18px;
  color: #2e2e2e;
  padding: 21px 55px;
  border-radius: 10px;
  background-color: $secondaryColor;
}
