.header {
  width: 100%;
  position: absolute;
  z-index: 1;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 45px 0; // sverhu i snizu vnutrenniy otstup 20px, a sleva i sprava on ne nuzhen
  }
  &__navigation {
    margin-right: auto;
    margin-left: auto;
  }
}
