.mainTitle {
  font-family: $font;
  font-weight: 600;
  font-style: 48px;
  line-height: 72px;
  text-transform: uppercase;
}
.mainText {
  font-family: $font;
  font-weight: normal;
  font-size: 24px;
}